{% extends "base.twig" %}

{% block main %}


	<div class="page__container">
		<div class="wrapper">
			<div id="root"></div>
		</div>
	</div>


	<script type="module" src="{{ theme.link }}/service-app/assets/index-CN8-WklG.js"></script>

{% endblock %}
